* {
  box-sizing: border-box;
}

body,
html {
  background-color: #0bb5ff;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

/* cover-page */

.cover-page {
  display: flex;
    border: white 3px solid;
    border-radius: 228px;
    flex-direction: column;
    align-items: center;
    background: #0bb5ff repeating-radial-gradient(#00ffbf, transparent 100px);
}

.cover-page-div{
  border: #00ffbf 3px solid;
    border-radius: 68px;
    height: 459px;
    display: flex;
    background: #0bb5ff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* main.handle bars */

.mainPage {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#headerh1 {
  font-size: 27px;
}

header {
  background: radial-gradient(black, transparent);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

.nav-class {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.span-class {
  margin-top: 7px;
}

/* Dashboard.handlebars */

.dashboard-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  border: #00ffbf 3px solid;
  border-radius: 14%;
  background: #0bb5ff radial-gradient(#00ffbf, transparent);
}

.dashboard-section h1 {
  font-size: 20px;
}

.div-nav {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.new-post-form-label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.new-post-form input {
  width: 500px;
  height: 100px;
}

.dashboard-post {
  color: black;
  background: #0bb5ff;
  border: #00ffbf 3px solid;
  border-radius: 5%;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

/* edit-post-handlebars */

.edit-post-form {
  border: black 3px solid;
  margin-bottom: 5%;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.comment-form {
  margin-bottom: 5%;
}

/* homepage.handlebars */

.main-div {
  opacity: 85%;
  background: repeating-radial-gradient(black, transparent 100px);
  background-color: #0bb5ff;
  border: #00ffbf 3px solid;
  border-radius: 4%;
}

.center-h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-div {
  display: flex;
  margin: 1%;
  padding: 3% 1% 3% 1%;
  border: black 3px solid;
  border-radius: 5%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
}

.pd1 {
  color: black;
  opacity: 50%;
  font-size: 10px;
}

.pd2 {
  color: black;
  font-size: 15px;
}

.pd3 {
  color: black;
  font-size: 10px;
}

/* login.handlebars */

.the-login-form {
  padding: 2%;
  border: springgreen 3px solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

/* post.handlebars */

.the-post-page{
  border: #00ffbf 2px solid;
    border-radius: 15px;
    background: #0bb5ff radial-gradient(black, transparent);
    padding: 1%;
}

/* signup.handlebars */

.signup-form {
  display: flex;
  border: springgreen 3px solid;
  border-radius: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

/* comments.handlebars */

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  color: black;
  background-color: white;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.text1 {
  font: 15px;
  opacity: 50%;
}
.text2 {
  font-size: 20px;
}

/* post.partials.handlebars */

.post {
  margin-bottom: 2%;
  line-height: 150%;
}
.post-title-h1{
  font-size: 12px;
}
.post .title span {
  font-style: italic;
  font-size: 170%;
  
}

a {
  text-decoration: none;
  color: #00ffbf;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: red;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.title {
  border: dashed 3px #00ffbf;
  border-radius: 2%;
}



.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  width: -webkit-fill-available;
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  border: 2px black solid;
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

main {
  background-color: black;
  flex: 1;
  padding: 2% 4%;
}

#create-btn {
  color: #00ffbf;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: red;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

footer {
  background: radial-gradient(black, transparent);
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
