<div class="cover-page">
    <h1>TECH BLOG</h1>
    <div class="cover-page-div">
        <a class="a1" href="/main/login">Login Here!</a>
        <a class="a2" chref="/main/signup">Sign-up Here!</a>
    </div>
    
</div>